/********************************* Popular *****************************************/
.popular > .col-md-12>.popular-box-title>span{
	
font-size: 1.5em;
font-family: "Nunito Sans",sans-serif;
line-height: 35px;
color: #694ba1;
text-transform: uppercase;
font-weight: 500;

}
.popular >.col-md-12 > .popular-content{
	
}
.box-pop-manga{
	margin-top: 1rem;
        width: 100%;
        cursor : pointer;
}
.box-pop-manga:hover{
    background-color:#80808021;
}
.pop_see_more:hover{
    background : #563d7c;
    color : white;
    transition: background 0.8s;
    transition: color 0.7s;
}
.pop_see_more:active{
    font-weight: 500;
    font-family: sans-serif;
}
.see-more-p{
    border: none;
    width: 100%;
    height: 3rem;

background-color: #a2aebb;

color: white;

margin-top: 0.8rem;
margin-bottom: 0.8rem;
font-family: sans-serif;
}
.box-pop-manga > tbody> tr:nth-child(1){
    font-weight: 600;
    color: #333333;
} 
.box-pop-manga > tbody> tr:nth-child(2){
    color: rgba(0,0,0,.54);
font-size: 14px;
font-size: 0.875rem;
font-weight: 400;
line-height: 16px;
} 
.box-pop-manga > tbody> tr:nth-child(3){
    color: rgba(0,0,0,.54);
font-size: 14px;
font-size: 0.875rem;
font-weight: 400;
line-height: 16px;
} 
.popular-box-more{color: #177fdb;
float :right;
}
.popular{
    margin-bottom: 1rem;

    padding-bottom: 1rem;
    margin-left: 0;
  
        width: 114%;
        border-bottom : solid 1px grey;
    }
.pop_see_more{width: 100%;
border: 1px solid whitesmoke;
background: #ac8ee6;
margin-top: 1.3rem;
font-family: var(--second);
line-height: 40px;
color: white;
 transition: background 0.8s;
    transition: color 0.7s;
    }
.box-pop-manga>tbody>tr>td>.nbr-man{
        width: 26px;
        color: #5d5d5d;
        font-size: 18px;
        text-align: center;
}
.box-pop-manga>tbody>tr>td>img{
    width: 77px;
}
.box-pop-manga>tbody>tr>td>.title-man-pop{
        color: rgba(0,0,0,.87);
    font-size: 16px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 19px;
    display: inline-block;
    display: -webkit-box;
    max-height: 38px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    margin-bottom: 2px;
    margin-left : 1rem;
}
.box-pop-manga>tbody>tr>td>.chapt-nbr-man-pop>div{
        color: rgba(0,0,0,.54);
    font-size: 14px;
    font-size: .875rem;
    font-weight: 400;
    line-height: 16px;
    margin-left : 1em;
}

@media only screen and (max-width: 768px){
.popular{
    margin: 0;
    margin-bottom: 2rem;

}
}